.header__wrapper
    .header__left
        .header__title Вкоманде
    .header__right
        .header__profile
            .header__person
                .header__fullname #{first_name} #{last_name}
                .header__profession #{profession}
            .header__image
                img.header__photo(src="img/photo.png", alt="profile iamge")