.header-wrapper.bg-white
    .header-wrapper__left
        .header-wrapper__title Вкоманде
    .header-wrapper__right
        .header-wrapper__profile
            .header-wrapper__person
                .header-wrapper__fullname #{first_name} #{last_name}
                .header-wrapper__profession.grey #{profession}
            .header-wrapper__image
                img.header-wrapper__photo(src="img/photo.png", alt="profile iamge")
