.user-wrapper
    .user-wrapper__title
        .user-wrapper__left
            div Выберите проект
        .user-wrapper__right
            //- button.project-info-wrapper__finish-project.bg-blue Сдать проект
    table.user-wrapper__table-ready
        thead
            tr
                th Выполняемая услуга
                th Время полнения
                th Менеджмент
        tbody.user-wrapper__table-body