@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #282828;
}

body {
  background-color: #e5e5e5;
}

.header__wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 0 50px;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__left {
  width: 20%;
}

.header__right {
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__profile {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__title {
  font-size: 26px;
  font-weight: 500;
  padding: 0 40px 0 0;
  border-right: 2px solid #B9B9B9;
}

.header__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.header__fullname {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: right;
}

.header__profession {
  width: 100%;
  text-align: right;
  font-size: 14px;
}

.header__photo {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.project__wrapper {
  width: 30%;
}

.project__title {
  font-size: 26px;
  font-weight: 500;
  padding: 0 0 20px 0;
}

.project__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
}

.project__create {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 70px;
  border-radius: 20px;
  background-color: #3A8BBB;
  color: white;
  border: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.project__create:active {
  letter-spacing: 0.5px;
}

.project__create:focus {
  outline: none;
}

.project__create:hover {
  cursor: pointer;
  background-color: #44a7e0;
}

.project__progress, .project__ready {
  font-size: 18px;
  margin-top: 15px;
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  border-radius: 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.project__item:hover {
  cursor: pointer;
  background-color: #F0F0F3;
}

.project__item.active {
  background-color: #F0F0F3;
}

.project__pic {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.project__name {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  margin-left: 10px;
}

.tasks__wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 0 30px;
}

.tasks__title {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.tasks__table input {
  padding: 5px 2px;
}

.tasks__table select {
  padding: 5px 2px;
}

.main__wrapper {
  padding: 30px 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #282828;
}

.main__modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main__overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main__modal.active {
  opacity: 1;
  visibility: visible;
}

.main__overlay.active {
  opacity: 1;
  visibility: visible;
}

.main__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.main__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 30px;
}

.main__create-project {
  padding: 10px 15px;
}

.main__submit {
  margin-top: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 70px;
  border-radius: 5px;
  background-color: #3A8BBB;
  color: #ffffff;
  border: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main__submit:active {
  letter-spacing: 0.5px;
}

.main__submit:focus {
  outline: none;
}

.main__submit:hover {
  cursor: pointer;
  background-color: #44a7e0;
}

.main__title-project {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}

.main__title-project:first-child {
  margin: 0;
}

.main__title-project input {
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
  border: 2px solid #b9b9b9;
  border-radius: 3px;
  padding: 5px 10px;
  color: #282828;
}

.main__title-project input:focus {
  outline: none;
}
