@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #282828;
}

body {
  background-color: #e5e5e5;
}

.header__wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 0 50px;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__left {
  width: 20%;
}

.header__right {
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__profile {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__title {
  font-size: 26px;
  font-weight: 500;
  padding: 0 40px 0 0;
  border-right: 2px solid #B9B9B9;
}

.header__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.header__fullname {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: right;
}

.header__profession {
  width: 100%;
  text-align: right;
  font-size: 14px;
}

.header__photo {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.project__wrapper {
  width: 30%;
}

.project__title {
  font-size: 26px;
  font-weight: 500;
  padding: 0 0 20px 0;
}

.project__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
}

.project__create {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 70px;
  border-radius: 20px;
  background-color: #3A8BBB;
  color: white;
  border: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.project__create:active {
  letter-spacing: 0.5px;
}

.project__create:focus {
  outline: none;
}

.project__create:hover {
  cursor: pointer;
  background-color: #44a7e0;
}

.project__progress, .project__ready {
  font-size: 18px;
  margin-top: 15px;
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  border-radius: 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.project__item:hover {
  cursor: pointer;
  background-color: #F0F0F3;
}

.project__item.active {
  background-color: #F0F0F3;
}

.project__pic {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.project__name {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  margin-left: 10px;
}

.tasks__wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 5px;
}

.tasks__title, .tasks__title-ready {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.tasks__control td {
  padding-bottom: 10px;
}

.tasks__table {
  font-weight: 400;
  width: 100%;
}

.tasks__table tbody {
  text-align: center;
  background-color: #fff;
}

.tasks__table tbody tr {
  border-radius: 2px;
}

.tasks__table tbody td {
  border-radius: 2px;
  padding: 10px 5px;
  font-size: 14px;
  min-width: 150px;
}

.tasks__table-ready {
  width: 100%;
  text-align: center;
}

.tasks__table-ready tbody {
  text-align: center;
  background-color: #fff;
}

.tasks__table-ready tbody tr {
  border-radius: 2px;
}

.tasks__table-ready tbody td {
  border-radius: 2px;
  min-width: 150px;
  font-size: 14px;
  padding: 15px 2px;
}

.tasks__modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.tasks__modal.active {
  opacity: 1;
  visibility: visible;
}

.tasks__overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.tasks__overlay.active {
  opacity: 1;
  visibility: visible;
}

.tasks__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.tasks__title-project {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}

.tasks__title-project:first-child {
  margin: 0;
}

.tasks__title-project input {
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
  border: 2px solid #b9b9b9;
  border-radius: 3px;
  padding: 5px 10px;
  color: #282828;
}

.tasks__title-project input:focus {
  outline: none;
}

.tasks__title-project select {
  border: 2px solid #b9b9b9;
  padding: 10px 5px;
  width: 100%;
}

.tasks__submit {
  margin-top: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 70px;
  border-radius: 5px;
  background-color: #3A8BBB;
  color: #ffffff;
  border: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.tasks__submit:active {
  letter-spacing: 0.5px;
}

.tasks__submit:focus {
  outline: none;
}

.tasks__submit:hover {
  cursor: pointer;
  background-color: #44a7e0;
}

.tasks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__wrapper {
  padding: 30px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #282828;
}

.main__modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main__modal.active {
  opacity: 1;
  visibility: visible;
}

.main__overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main__overlay.active {
  opacity: 1;
  visibility: visible;
}

.main__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.main__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 30px;
}

.main__create-project {
  padding: 10px 15px;
}

.main__submit {
  margin-top: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 70px;
  border-radius: 5px;
  background-color: #3A8BBB;
  color: #ffffff;
  border: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main__submit:active {
  letter-spacing: 0.5px;
}

.main__submit:focus {
  outline: none;
}

.main__submit:hover {
  cursor: pointer;
  background-color: #44a7e0;
}

.main__title-project {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}

.main__title-project:first-child {
  margin: 0;
}

.main__title-project input {
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
  border: 2px solid #b9b9b9;
  border-radius: 3px;
  padding: 5px 10px;
  color: #282828;
}

.main__title-project input:focus {
  outline: none;
}

.user__wrapper {
  color: #282828;
  padding: 10px 5px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 700px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.user__modal.active {
  opacity: 1;
  visibility: visible;
}

.user__overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.user__overlay.active {
  opacity: 1;
  visibility: visible;
}

.user__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.user__title-project {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.user__title-project:first-child {
  margin: 0;
}

.user__title-project input {
  width: 50%;
  padding: 5px 0;
  font-size: 16px;
}

.user__form-container > table {
  width: 100%;
  padding: 10px 0 0 0;
  border-spacing: 0;
  color: #282828;
  font-size: 16px;
  font-weight: 500;
}

.user__form-container > table tr {
  width: 100%;
  background-color: #b6b6b6;
}

.user__form-container > table tr:nth-child(2n) {
  background-color: #eeeeee;
}

.user__form-container > table td {
  width: 33%;
  max-width: 335px;
  padding: 10px 5px;
  word-wrap: break-word;
  text-align: left;
  padding-left: 20px;
}

.add {
  padding: 5px 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #3A8BBB;
  border-radius: 2px;
  outline: none;
}

.add:hover {
  background-color: #44a7e0;
  cursor: pointer;
}

.del {
  padding: 5px 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #d42c2cc7;
  border-radius: 2px;
  outline: none;
}

.del:hover {
  background-color: #d42c2c;
  cursor: pointer;
}

.statistic {
  padding: 5px 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #c27c2c;
  border-radius: 2px;
  height: 29px;
  outline: none;
}

.statistic:hover {
  background-color: #d48932;
  cursor: pointer;
}

.showStat {
  padding: 10px 10px;
  margin-top: 15px;
  width: 50%;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #3A8BBB;
  border-radius: 2px;
  outline: none;
}

.showStat:hover {
  background-color: #44a7e0;
  cursor: pointer;
}

.closeProject {
  padding: 5px 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #d42c2cc7;
  border-radius: 2px;
  margin-left: 25px;
  height: 29px;
  outline: none;
}

.closeProject:hover {
  background-color: #d42c2c;
  cursor: pointer;
}
