.project-wrapper {
    width: 375px;
}

.project-wrapper__title {
    font-size: 26px;
    font-weight: 500;
    padding: 0 0 20px 0;
}

.project-wrapper__projects {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
}

.project-wrapper__create {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 70px;
    border-radius: 20px;
    color: #ffffff;
    border: none;
    transition: all .2s ease;
}

.project-wrapper__create:active {
    letter-spacing: 0.5px;
}

.project-wrapper__create:focus {
    outline: none;
}

.project-wrapper__create:hover {
    cursor: pointer;
    background-color: #44a7e0;
}

.project-wrapper__progress, .project-wrapper__ready {
    font-size: 18px;
    margin-top: 15px;
}

.project-wrapper__item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-radius: 20px;
    transition: all .2s ease;
}

.project-wrapper__item:hover {
    cursor: pointer;
    background-color: #F0F0F3;
}

.project-wrapper__pic {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.project-wrapper__name {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    margin-left: 10px;
}
